<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="ereviewboard" sequenceNumber="57">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.cvs.feature.group" version="1.2.1.r362_v20101111-7B77FKv99HL0GvIAF99I8H14B7E"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.6.1.v20100914-1218"/>
<repository location="http://download.eclipse.org/releases/helios/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="1.0.0.201106090707-r"/>
<unit id="org.eclipse.jgit.feature.group" version="1.0.0.201106090707-r"/>
<repository location="http://download.eclipse.org/egit/updates-1.0"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn_feature.feature.group" version="3.7.0.v20120319-0200"/>
<unit id="org.eclipse.mylyn.commons.feature.group" version="3.7.0.v20120319-0200"/>
<unit id="org.eclipse.mylyn.reviews.feature.feature.group" version="0.9.0.v20120319-0200"/>
<repository location="http://archive.eclipse.org/mylyn/drops/3.7.0/v20120319-0200"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.commons.io" version="2.0.1.v201105210651"/>
<unit id="com.google.collect" version="1.0.0.v201105210816"/>
<unit id="com.google.inject" version="2.0.0.v201105231817"/>
<unit id="org.json" version="1.0.0.v201011060100"/>
<unit id="org.junit" version="4.8.2.v4_8_2_v20110321-1705"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20110523182458/repository/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.tigris.subversion.subclipse.feature.group" version="1.4.8"/>
<unit id="org.tigris.subversion.clientadapter.feature.feature.group" version="1.5.3"/>
<unit id="org.tigris.subversion.clientadapter.svnkit.feature.feature.group" version="1.5.6.1"/>
<unit id="org.tmatesoft.svnkit.feature.group" version="1.2.3.5521"/>
<repository location="http://subclipse.tigris.org/update_1.4.x"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/J2SE-1.5"/>
</target>
